.header{   
    height: 578px;
    width: 1365px;
    margin: 30px auto;
    background: url('/header_img.png');
    background-size: contain;
    position: relative;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
}
.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
    cursor: context-menu;
}
.header-contents p{
    color: white;
    font-size: 1vw;
    cursor: context-menu;
}
.header-contents button{
    border: none;
    width: 170px;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
    cursor: pointer;
}
